<div class="container">
  <div class="row">
    <div class="card window col s12 m6 push-m3 main-window">
      <div class="card-content">
        <div class="card-title">Create Character</div>
        <div class="window-content">
          <div class="row">
            <h4 class="center-align">Name</h4>
            <input class="brown lighten-4 col s6 push-s3">
          </div>

          <div class="row">
            <h4 class="center-align">Race</h4>
            <a class="dropdown-button btn g-btn col s6 push-s3" data-activates='race-dd'>{{selectedRace || "Race"}}</a>
            <ul id='race-dd' class='dropdown-content'>
              <li *ngFor="let race of races"><a class="black-text" (click)="selectedRace = race;">{{race}}</a></li>
            </ul>
          </div>

          <div class="row">
            <h4 class="center-align col s12">Stats <span class="g-badge">{{statPoints}}</span></h4>
            <div *ngFor="let stat of stats">
              <span class="stat">{{stat.name}}</span>
              <a class="btn-floating g-btn right" (click)="removeStat(stat)"><i class="material-icons">arrow_drop_down</i></a>
              <a class="btn-floating g-btn right" (click)="addStat(stat)"><i class="material-icons">arrow_drop_up</i></a>
              <span class="g-badge right stat">{{stat.value}}</span>
            </div>
          </div>

          <div class="row space">
            <a class="btn g-btn col s6" [routerLink]="['/login']">Cancel</a>
            <a class="btn g-btn col s6">Create</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>