<nav>
    <div class="nav-wrapper admin-nav">
        <div class="col s12">
            <a [routerLink]="['/admin']" class="breadcrumb">Admin</a>
            <a [routerLink]="['/admin/recipe']" class="breadcrumb">Recipe</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Create Recipe</span>
                <div class="row">
                    <h4>Item To be Made</h4>
                    <a class="dropdown-button btn col s6 push-s3" data-activates='race-dd'>{{selectedItem?.name || "Item"}}</a>
                    <ul id='race-dd' class='dropdown-content'>
                        <li *ngFor="let item of items; let i = index"><a class="black-text" (click)="selectItemTobeMade(item, i)">{{item.name}}</a></li>
                    </ul>
                </div>
                <div class="row">
                    <h4>Level</h4>
                    <input class="col s4" type="number" placeholder="Level" [(ngModel)]="tempRecipe.level">
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3" *ngFor="let item of categories"><a [href]="'#' + item.name">{{item.name}}</a></li>
                        </ul>
                    </div>
                    <div *ngFor="let item of categories" [id]="item.name" class="col s12">
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>ID</th>
                                <th>Amt</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let i of item.items">
                                <td>{{i.name}}</td>
                                <td>{{i.id}}</td>
                                <td></td>
                                <td><a (click)="delete(item.id)" class="red-text">X</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <a class="btn admin-btn" (click)="submit()">Create</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">View Recipes</span>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let item of recipes">
                        <td>{{item.name}}</td>
                        <td>{{item.id}}</td>
                        <td><a (click)="delete(item.id)" class="red-text">X</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
