<nav>
  <div class="nav-wrapper admin-nav">
    <div class="col s12">
      <a [routerLink]="['/admin']" class="breadcrumb">Admin</a>
      <a [routerLink]="['/admin/item']" class="breadcrumb">Item</a>
      <a [routerLink]="['/admin/item/armor']" class="breadcrumb">Armor</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Create Armor</span>
        <div class="row">
          <h4>Name</h4>
          <input [(ngModel)]="item.name">
        </div>
        <div class="row">
          <h4>Rarity</h4>
          <a class="dropdown-button btn col s6 push-s3 admin-btn" data-activates='rarity-dd'>{{rarities[item.rarity] || "Rarity"}}</a>
          <ul id='rarity-dd' class='dropdown-content'>
            <li *ngFor="let rarity of rarities; let i = index"><a class="black-text" (click)="selectRarity(i)">{{rarity}}</a></li>
          </ul>
        </div>
        <div class="row">
          <h4>Level</h4>
          <input class="col s8" type="number" placeholder="level" [(ngModel)]="item.level">
        </div>
        <div class="row">
          <h4>Stats</h4>
          <div *ngFor="let stat of getStats()">
            <label class="col s3">{{stat}}</label>
            <input class="col s7" type="number" placeholder="stat" [(ngModel)]="item.stats[stat]">
          </div>
        </div>
        <a class="btn admin-btn" (click)="submit()">Create</a>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <span class="card-title">View Armors</span>
        <table>
          <tr>
            <th>Name</th>
            <th>Rarity</th>
            <th>ID</th>
            <th></th>
          </tr>
          <tr *ngFor="let armor of armors">
            <td>{{armor.name}}</td>
            <td>{{rarities[armor.rarity]}}</td>
            <td>{{armor.id}}</td>
            <td><a (click)="delete(armor.id)" class="red-text">X</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
