<nav>
    <div class="nav-wrapper admin-nav">
      <div class="col s12">
        <a [routerLink]="['/admin']" class="breadcrumb">Admin</a>
        <a [routerLink]="['/admin/collectable']" class="breadcrumb">Collectable</a>
      </div>
    </div>
  </nav>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Create Collectable</span>
                <div class="row">
                    <h4>Name</h4>
                    <input [(ngModel)]="item.name">
                </div>
                <a class="btn admin-btn" (click)="submit()">Create</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">View Collectables</span>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let item of collectables">
                        <td>{{item.name}}</td>
                        <td>{{item.id}}</td>
                        <td><a (click)="delete(item.id)" class="red-text">X</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>