<nav>
    <div class="nav-wrapper admin-nav">
      <div class="col s12">
        <a [routerLink]="['/admin']" class="breadcrumb">Admin</a>
        <a [routerLink]="['/admin/char']" class="breadcrumb">Character</a>
      </div>
    </div>
  </nav>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Create Character</span>
                <div class="row">
                    <h4>Name</h4>
                    <input [(ngModel)]="tempChar.name" data-length="15">
                </div>
                 <div class="row">
            <h4>Race</h4>
            <a class="dropdown-button btn col s6 push-s3 admin-btn" data-activates='race-dd'>{{selectedRace?.name || "Race"}}</a>
            <ul id='race-dd' class='dropdown-content'>
              <li *ngFor="let race of races; let i = index"><a class="black-text" (click)="selectRace(race, i)">{{race.name}}</a></li>
            </ul>
          </div>
                <div class="row">
                    <input class="col s4" type="number" placeholder="red" [(ngModel)]="tempChar.red">
                    <input class="col s4" type="number" placeholder="blue" [(ngModel)]="tempChar.blue">
                    <input class="col s4" type="number" placeholder="yellow" [(ngModel)]="tempChar.yellow">
                    <div class="row hugme">
                        <label class="col s4">red</label>
                        <label class="col s4">blue</label>
                        <label class="col s4">yellow</label>
                    </div>
                </div> 
                <a class="btn admin-btn" (click)="submit()">Create</a>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">View Characters</span>
                <table>
                    <tr>
                        <th>Name</th>                       
                        <th>Date Created</th>                       
                        <th>Race</th>             
                        <th>Red</th>
                        <th>Blue</th>
                        <th>Yellow</th>
                        <th>ID</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let item of chars">
                        <td>{{item.name}}</td>
                        <td>{{item.dateCreated}}</td>
                        <td>{{item.raceId}}</td>
                        <td>{{item.red}}</td>
                        <td>{{item.yellow}}</td>
                        <td>{{item.blue}}</td>
                        <td>{{item.id}}</td> 
                        <td><a (click)="delete(item.id)" class="red-text">X</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>