<div class="container">
    <div class="row">
        <div class="card col s3">
            <div class="card-content">
                <div class="card-title"><i class="material-icons" [routerLink]="['/home']">chevron_left</i>Skills</div>
                <h6 class="selectable" [ngClass]="{'active': isSelected(skills, item, selectedSkill)}" (click)="selectSkill(i); selectedRecipe = 0;" *ngFor="let item of skills; let i = index">{{item.name}}</h6>
            </div>
        </div>
        <div class="card col s3">
            <div class="card-content">
                <div class="card-title">Items</div>
                <h6 class="selectable" [ngClass]="{'active': isSelected(recipes, item, selectedRecipe)}" (click)="selectedRecipe = i" *ngFor="let item of recipes; let i = index">{{item.item.name}}</h6>
            </div>

        </div>
        <div class="card col s6">
            <div class="card-content"> 
                <div class="card-title">{{skills[selectedSkill]?.name}}</div>
                <h4>Inventory</h4> 
                <h6 *ngFor="let item of collectables">{{item.collectable.name}} x{{item.amount}}</h6>
                <h4>Requirements</h4>
                <h6 *ngFor="let item of recipes[selectedRecipe]?.itemsNeeded">{{item.item.name}} x{{item.amount}}</h6>
                <br>
                <br>
                <br>
                <br>
                <a class="btn green">Create</a>
            </div>
        </div>
    </div>
</div>
