<nav>
    <div class="nav-wrapper admin-nav">
      <div class="col s12">
          <a [routerLink]="['/admin']" class="breadcrumb">Admin</a>
        <a [routerLink]="['/admin/item']" class="breadcrumb">Item</a>
      </div>
    </div>
  </nav>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="" *ngFor="let item of links">
                <a class="waves-effect waves-light btn-large col s12 m3 admin-btn" (click)="open(item.target)">{{item.name}}</a>
            </div>
        </div>
    </div>
</div>
 