.admin-nav{
    background-color:dimgray;
    padding-left: 10px
}
.admin-btn{
    background-color: gray;
}
.hugme label{
    margin-top: -18px;
}

.hugme label:nth-child(2){
    margin-left: 33%;
}

.hugme label:nth-child(3){
    margin-left: 66%;
}
